.navbar {
  background-color: #ffe5b4;
  color: #663c00;
  padding: 15px 30px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f0c98d;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #663c00;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #cc884d;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    margin-top: 10px;
  }

  .navbar-links a {
    margin-left: 0;
    margin-right: 15px;
  }
}