.register-wrapper {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.register-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff5e6;
}

.form-box {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #663c00;
}

.form-box input,
.form-box select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.form-box button {
  width: 100%;
  padding: 12px;
  background-color: #ffb347;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.form-box button:hover {
  background-color: #e89d3a;
}

.form-box p {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.form-box a {
  color: #cc7000;
  text-decoration: none;
  font-weight: bold;
}

.register-right {
  flex: 1;
  background-image: url('https://www.shutterstock.com/image-illustration/complaints-concept-word-on-folder-260nw-269047922.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media (max-width: 768px) {
  .register-wrapper {
    flex-direction: column;
  }

  .register-right {
    display: none;
  }

  .register-left {
    padding: 20px;
  }
}